/* Base styles */
body {
  font-family: Arial, sans-serif;
  background: url('../images/queenposter.png') no-repeat center center fixed;
  background-size: cover;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #950000;
}

/* Form container */
form {
  max-width: 500px;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.9); /* Semi-transparent dark background */
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(255, 69, 0, 0.4);
  box-sizing: border-box;
  margin-top: 100px;
}

/* Headings */
h2 {
  color: #ff4500;
  text-align: center;
  margin-bottom: 20px;
}

/* Input fields */
input {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 45px;
  background-color: #222;
  color: #fff;
}

/* Solid orange button */
.btn-hw {
  width: 100%;
  margin: 10px 0; /* same margin as input */
  padding: 13px; 
  background-color: #ff8c00; /* orange default */
  color: white;
  border: none;
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-hw:hover,
.btn-hw:active {
  background: linear-gradient(to right, #d72b00, #dc8710, #ffbe3b, #dc8710, #d72b00); /* Gradient on hover/click */
  color: rgb(0, 0, 0);
}

/* Outline orange button */
.btn-hw-outline {
  width: 100%;
  margin: 10px 0; /* same margin as input */
  padding: 13px ; 
  background-color: #ff8c00; /* orange default */
  color: white;
  border: 2px solid #ff4500;
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-hw-outline:hover,
.btn-hw-outline:active {
  background: linear-gradient(to right, #d72b00, #dc8710, #ffbe3b, #dc8710, #d72b00); /* Gradient on hover/click */
  color: rgb(0, 0, 0);
}

/* Feedback messages */
.msg,
#loginMsg {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: #ff4500;
}

/* Links */
a {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #ff4500;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: white;
  text-decoration: underline;
}
